@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Philosopher', sans-serif;
}

.main-slider {
  min-height: 300px;
  background-image: url(./img/backgrond.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 58px 25px 64px 25px;

  &__container {
    width: 100%;
    max-width: 1484px;
    // height: 718px;
    margin: 0 auto;
    position: relative;

    border-radius: 8px;
    border: 2px solid #D6B43F;
    // background-color: linear-gradient(0deg, rgba(13, 17, 23, 0.50) 0%, rgba(13, 17, 23, 0.50) 100%), url(./img/background2.png), lightgray 50% / cover no-repeat;
    background-image: url(./img/background2.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    .star1 {
      position: absolute;
      top: -28px;
      left: -21px;
    }

    .star2 {
      position: absolute;
      top: -28px;
      right: -21px;
    }

    .star3 {
      position: absolute;
      bottom: -34px;
      right: -21px;
    }

    .star4 {
      position: absolute;
      bottom: -34px;
      left: -21px;
    }

    .bd_up {
      position: absolute;
      top: -16px;
      left: 50%;
      transform: translateX(-50%);
    }

    .bg_down{
      position: absolute;
      bottom: -23px;
      left: 50%;
      transform: translateX(-50%);
    }

    .bg_left{
      position: absolute;
      left: -18px;
      top: 50%;
      transform: translateY(-50%);
    }

    .bg_right{
      position: absolute;
      right: -18px;
      top: 50%;
      transform: translateY(-50%);
    }

    .main-slider__content {
      display: grid !important;
      grid-template-columns: 1fr 1fr;
      gap: 10px;

      @media (max-width:991px) {
        grid-template-columns: 1fr;
      }

      .content-text {
        padding: 53px 0 0 48px;
        width: 100%;
        max-width: 641px;

        @media (max-width: 991px) {
          padding: 53px 20px 0 20px;
          max-width: 100%;
        }

        &__title {
          display: flex;
          align-items: center;
          gap: 5px;

          color: #F0D67E;
          font-size: 30px;
          text-transform: uppercase;
          margin-bottom: 29px;
        }

        .content-line {
          height: 4px;
          background: #987706;
          margin-bottom: 26px;
        }

        p {
          margin-bottom: 30px;
          color: #F6F8FA;
          line-height: 24px; 
        }

        h4 {
          color: #F6F8FA;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px; 
        }
      }

      .content-image {
        // background-color: blueviolet;
        padding: 10px 16px 0 0;
        display: flex;
        justify-content: flex-end;

        @media (max-width: 991px) {
          justify-content: center;
        }

        &__wrapper {
          width: 521px;
          height: 522px;
          position: relative;

          @media (max-width: 991px) {
            height: 540px;
          }

          @media (max-width: 600px) {
            width: 300px;
            height: 300px;
          }

          @media (max-width: 320px) {
            width: 240px;
            height: 240px;
          }

          &::before {
            content: '';
            position: absolute;
            background: url(img/circle.png);
            background-size: cover;
            background-position: center center;
            width: 450px;
            height: 450px;
            top: 62px;
            left: 38px;

            @media (max-width: 600px) {
              width: 250px;
              height: 250px;
            }

            @media (max-width: 320px) {
              width: 210px;
              height: 180px;
            }
          }

          .content-image__image {
            position: absolute;
            z-index: 10;
            top: 30px;
            left: -12px;
            max-width: 470px;
            height: auto;

            @media (max-width: 600px) {
              height: 250px;
              top: 34px;
              left: 35px;
            }

            @media (max-width: 320px) {
              height: 200px;
            }

            img {
              max-width: 100%;
              max-height: 100%;
              object-fit: cover;
            }
          }

          .content-image__image2 {
            top: 30px;
            left: 121px;

            @media (max-width: 600px) {
              top: 30px;
              left: 91px;
            }
          }

          .content-image__image3 {
            top: 91px;
            left: 132px;

            @media (max-width: 600px) {
              top: 31px;
              left: 83px;
            }
          }
        }
      }
    }

    .main-btn-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 20px;

      .main-btns {
        width: 155px;
        height: 155px;
        cursor: pointer;
        transition: all .4s ease;

        &:active {
          transform: scale(.92);
        }
      }

      .main-btn1 {
        background-image: url(img/btn/Property\ 1=1_Normal.png);
      }

      .main-btn1.active {
        background-image: url(img/btn/Property\ 1=1_Hover.png);
      }

      .main-btn2 {
        background-image: url(img/btn/Property\ 1=2_Normal.png);
      }

      .main-btn2.active {
        background-image: url(img/btn/Property\ 1=2_Hover.png);
      }

      .main-btn3 {
        background-image: url(img/btn/Property\ 1=3_Normal.png);
      }

      .main-btn3.active {
        background-image: url(img/btn/Property\ 1=3_Hover.png);
      }

      .main-btn4 {
        background-image: url(img/btn/Property\ 1=4_Normal.png);
      }

      .main-btn4.active {
        background-image: url(img/btn/Property\ 1=4_Hover.png);
      }

      .main-btn5 {
        background-image: url(img/btn/Property\ 1=5_Normal.png);
      }

      .main-btn5.active {
        background-image: url(img/btn/Property\ 1=5_Hover.png);
      }

      .main-btn6 {
        background-image: url(img/btn/Property\ 1=6_Normal.png);
      }

      .main-btn6.active {
        background-image: url(img/btn/Property\ 1=6_Hover.png);
      }

      .main-btn7 {
        background-image: url(img/btn/Property\ 1=7_Normal.png);
      }

      .main-btn7.active {
        background-image: url(img/btn/Property\ 1=7_Hover.png);
      }

      .main-btn8 {
        background-image: url(img/btn/Property\ 1=8_Normal.png);
      }

      .main-btn8.active {
        background-image: url(img/btn/Property\ 1=8_Hover.png);
      }

      .main-btn9 {
        background-image: url(img/btn/Property\ 1=9_Normal.png);
      }

      .main-btn9.active {
        background-image: url(img/btn/Property\ 1=9_Hover.png);
      }
    }
  }
}

.main-line {
  height: 86px;
  background-image: url(img/span.line.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

